.Avatar {
    display: flex;
    padding-top: 200px;
    justify-content: space-evenly;
    vertical-align: center;
    align-items: center;
}
.card{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0px 460px 0px 460px;
}
.card-body{
    border: 2px solid lightgray;
    width: 350px;
    height: 400px;
    max-width: 350px;
    max-height: 400px;
    position: relative;
}
.card-title {
    text-align: center;
}
.card-text-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-text-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
img {
    width: 75px;
    height: 75px;
    display: block;
    float: left;
}
.article-title
{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
.article-title:hover
{
    cursor: pointer;
    text-decoration: blue underline;
}
.hash-tag
{
    position: absolute;
    right: 10px;
    top: 220px;
    background-color: whitesmoke;
    border: 3px solid lightgrey;
    border-radius: 2px;
    height: 35px;
    text-align: center;
    float: right;
}
